tea==0.1.7
Bcrypt_Flask==1.0.2
dynaconf==3.1.9
Flask==1.1.2
flask_bcrypt==1.0.1
Flask_RESTful==0.3.9
Flask_SQLAlchemy==2.5.1
flask_swagger_ui==4.11.1
PyJWT==2.0.1
Flask_JWT_Extended==4.2.1
MarkupSafe==1.1.1
SQLAlchemy_serializer==1.4.1
Werkzeug==2.0.2
gunicorn==20.1.0
